.tool-bar{
    background: linear-gradient(270deg, #745ECE 0%, rgba(105, 72, 237, 0.41) 47.4%, #5E63C8 82.29%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0; 
}

.logo{
    position: relative;
    width: 100px;
    height: 60px;
    left: 3%;
    top: 10px;
    mix-blend-mode: normal;
    border-radius: 2px;
}

.fav{
    position: relative;
    width: 55px;
    height: 40px;
    left: 77%;
    
}

.search-bar-container{
    position: absolute;
    width: 50%;
    height: 57%;
    left: 35%;
    margin: 0;
    top: 19px;
    background: #FFFFFF;
    display: flex
}

.search-bar-input{
    width: 100%;
    height: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    color: #D5C9C9;
}

.summit-btn{
    position: relative;
    width: 4%;
    height: 47px;
    background: #E5E5E5;
    border: 1px solid #C6C2C2;
    box-sizing: border-box;
    left: 74%;
}

.btn-icon{
    left: 17.86%;
    right: 17.86%;
    top: 10.64%;
    bottom: 12.77%;
}