.tool-bar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.products{
    width: 88%;
    position: absolute;
    top: 110px;
    margin: 0;
    margin-bottom: 5%;
    left: 6%;
}

body{
    background: #E5E5E5;
}