

.product{
    display: flex;
    height: 221px;
    left: 5%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.product-icon{
    position: relative;
    width: 160px;
    height: 180px;
    top:0%
}

.product-btn{
    position: relative;
    width: 180px;
    height: 180px;
    top:5%;
    border: 0;
    background-color: white;
    padding: 0;
}

.price-info{
    position: relative;
    width: 200px;
    height: 80%;
    top: 10%;
    left: 10%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.product-name{
    top: 40%;
    position: relative;
    width: 500px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

}

.city{
    position: relative;
    left: 50%;
    top: 11%;
    width: 150px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}