body{
    background: #E5E5E5;
}

.tool-bar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.products{
    width: 88%;
    position: absolute;
    top: 40%;
    margin: 0;
    margin-bottom: 5%;
    left: 6%;
}

.fav-title{
    top: 17%;
    position: absolute;
    width: 90%;
    left: 8%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}


.actions-container{
    background-color: white;
    position: absolute;
    width: 88%;
    top: 28%;
    height: 12%;
    left: 6%;
}

.cbox2{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 3%;
    width: 20px;
    height: 20px;
    background: #C4C4C4;
}

.btn-eliminar{
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 10%;
    background: #ECE9E9;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 51px;
}

/*  */

.btn-articulo{
    position: relative;
    left: 47%;
    top: 30%;
    width: 200px;
    height: 51px;
    background: #C968CB;
    border-radius: 20px;
    color: white;
}

.product{
    display: flex;
    height: 221px;
    left: 5%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.product-icon{
    position: relative;
    width: 160px;
    height: 180px;
    top: 2%;
}

.product-btn{
    position: relative;
    width: 180px;
    height: 180px;
    left: 11%;
    top: 2%;
    border: 0;
    background-color: white;
    padding: 0;
}

.price-info{
    position: relative;
    width: 200px;
    height: 80%;
    top: 10%;
    left: 15%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.product-name{
    top: 40%;
    position: relative;
    width: 500px;
    height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

}
